{% extends "account/base.html" %}

{% load static %}

{% block extra_head %}
  <title>Accept a card payment</title>  
  <link rel="stylesheet" href="{% static 'core/styles-payment.css' %}" />
  <script src="https://js.stripe.com/v3/"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
  <script src="{% static 'js/client.js' %}" defer></script>
{% endblock extra_head %}

{% block content %}
  <div class="payment-portal mt-5">
    <form id="payment-form">
      {% csrf_token %}
      <h1>Carf Info</h1>
      <div id="card-element"><!--Stripe.js injects the Card Element--></div>
      <button id="submit">
        <div class="spinner hidden" id="spinner"></div>
        <span id="button-text">Pay ₹ {{ orders.get_final_amount }}</span>
      </button>
      <p id="card-error" role="alert"></p>
      <p class="result-message hidden">
        Payment succeeded, see the result in your
        <a href="" target="_blank">Stripe dashboard.</a> Refresh the page to pay again.
      </p>
    </form>
    
  </div>
{% endblock content %}